# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
/build/
/build_*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# Visual Studio
.vs/
*.user
*.suo
*.ipch

# OS
.DS_Store
Thumbs.db

# Secrets
.env


# ESP-IDF
esp/build/
esp/sdkconfig
esp/sdkconfig.old
esp/dependencies.lock
esp/managed_components/
esp/main/idf_component.yml.lock

# EIM (ESP-IDF Installation Manager) local config
eim_config.toml

sim/build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
